 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap'); 

.gpt3_navbar{
    display: flex;
    justify-content: space-between;
    align-items:"center";
    padding: 2rem 6rem;
    font-family: 'DM Sans', sans-serif;
   
}
.gpt3_navbar-links{
 flex: 1;
 display: flex;
 justify-content: flex-start;
 align-items: center;

}

.gpt3_navbar-links_logo{
    margin-right: 2rem;
}
.gpt3_navbar-links_container{
    display: flex;
    flex-direction: row;
}

.gpt3_navbar-links_sign{
display: flex;
justify-content: flex-end;
align-items: center;

}
a{
    text-decoration: none;
    color: #00dbde;
}
.gpt3_navbar-links_container p,
.gpt3_navbar-links_sign p,
.gpt3_navbar-menu_container p
{
   color: #000;
   font-weight: 500;
   font-size: 18px;
   line-height: 25px;
   text-transform: capitalize;
   margin: 0 1rem;
   cursor: pointer;
}

.gpt3_navbar-links_sign button,
.gpt3_navbar-menu_container button{
   padding: 0.5rem 1rem;
   background-color:aqua;
   font-weight: 500;
   font-size: 18px;
   border: none;
   border-radius: 5px;
   outline: none;
   line-height: 25px;
   cursor: pointer;
}
.gpt3_navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}
.gpt3_navbar-menu_container{
display: flex;
justify-content: flex-end;
align-items:flex-end;
flex-direction: column;
text-align: end;
background: #000;
padding: 2rem;
position: absolute;
top:40px;
right: 0;
margin-top: 1rem;
min-width: 210px;
border-radius: 5px;
box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);

}
.gpt3_navbar-menu_container p{
    margin: 1rem 0;
}

.gpt3_navbar-menu_container-links-sign{
    display: none;
}

@media screen and (max-width:1050px) {
    .gpt3_navbar-links_container{
        display: none;
    }

    .gpt3_navbar-menu{
        display: flex;
    }
}

@media screen and (max-width:700px) {
    .gpt3_navbar{
        padding: 2rem 4rem;
    }

    
}

@media screen and (max-width:550px) {
    .gpt3_navbar{
        padding: 1rem 3rem;
    }

    .gpt3_navbar-links_sign{
        display: none;
    }
    .gpt3_navbar-menu_container{
        top: 20px;
    }
    .gpt3_navbar-menu_container-links-sign{
        display: block;
    }
}